.header {
    display: flex;
    flex-direction: row;
    gap: 10px;

    align-items: center;
    padding: 15px;
}

.voltar {
    color: white;
    font-size: 14px;
}

.selected-team {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 20px;
}

.titulo-header {
    font-size: 22px;
    font-weight: bolder;
}

.texto-header {
    font-size: 18px;
    margin: 10px 0 20px 0;
}