@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Aclonica", sans-serif;

  color: white;
  background-color: #1E1E1E;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: 'Inter';
  margin: 0px;
}

h1,
h2,
h3 {
  margin: 20px 0 10px 0;
  font-weight: 500;
}

.titulo-jogo {
  font-size: 54px;
  color: #751FE5;
  line-height: 68px;
  margin: 100px 0;
}

.texto-jogo {
  font-size: 30px;
  color: white;
}

.cor-primaria {
  color: #751FE5;
}

.bg-primario {
  background-color: #751FE5;
}

.btn-team {
  width: 180px;
  height: 50px;

  border: none;
  border-radius: 5px;
}

.btn-categorias {
    width: 200px;
    height: 40px;

    border: 1px solid #751FE5;
    border-radius: 5px;
    background-color: transparent;

    margin: 10px 0;
}

.categories-selected {
  background-color: #684990;
}

.input-list {
  width: 230px;
  height: 35px;
  background-color: transparent;

  font-size: 18px;
  color: #8e8e8e;
  padding-left: 10px;

  border-radius: 5px;
  border: 1px solid #751FE5;
}

.input-list:focus {
  outline: 1px solid #7c2ae7;
}

.add-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-add {
  margin-top: 5px;
}

.lista ul {
  padding: 0px;
}

.lista li {
  line-height: 30px;
  list-style: none;

  font-family: 'Inter';
}
