@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Aclonica", sans-serif;

  color: white;
  background-color: #1E1E1E;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: 'Inter';
  margin: 0px;
}

h1,
h2,
h3 {
  margin: 20px 0 10px 0;
  font-weight: 500;
}

.title-game {
  font-size: 54px;
  color: #751FE5;
  line-height: 68px;
  margin: 100px 0;
}

.text-game {
  font-size: 30px;
  color: white;
}

.color-primary {
  color: #751FE5;
}

.bg-primary {
  background-color: #751FE5;
}

.btn-team {
  width: 180px;
  height: 50px;
  margin: 40px 0px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-team:hover {
  background-color: #601db8;
  transition-duration: 0.5s;
}

.btn-home {
  width: 180px;
  height: 50px;
  margin: 10px 0px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-categories {
  width: 200px;
  height: 40px;

  border: 1px solid #751FE5;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;

  margin: 10px 0;
}

.btn-score-point {
  border-radius: 5px;
  border: none;
  margin: 5px 0px;
  width: 20%;
  height: 35px;

  background-color: #684990;
  font-size: 12px;
}

.btn-score-point:hover {
  cursor: pointer;
  background-color: #751FE5;
}

.selected-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-selected {
  background-color: #684990;
}

.input-list {
  width: 230px;
  height: 35px;
  background-color: transparent;

  font-size: 18px;
  color: #8e8e8e;
  padding-left: 10px;

  border-radius: 5px;
  border: 1px solid #751FE5;
}

.input-list:focus {
  outline: 1px solid #7c2ae7;
}

.add-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-add {
  margin-top: 5px;
}

.list ul {
  padding: 0px;
}

.list li {
  line-height: 30px;
  list-style: none;

  font-family: 'Inter';
}

.container-game {
  margin: 0px 0px 20px 0px;
}

.container-game p {
  width: 90%;
  margin: auto;
}